# Godot-specific ignores
.import/
.export/
*.import
export.cfg
export_presets.cfg
#project.godot
default_env.tres
.godot/
# Mono-specific ignores
.mono/

# VSCode-specific ignores
.vscode/

#User defined ignores
python/venv/
dependencies/exe/
addons/project-statistics
addons/notes_tab
addons/godot-git-plugin
addons/guion
Placeholders
testing

